{% extends 'partials/modal.twig' %}

{% block content %}
<div class="flex h-full px-4 pt-16">
  <nav x-data="{ active: null }" role="navigation" class="font-display">
    {% for item in menu.primary.items %}
    {% if item.children %}
    <div
      x-data="{
        id: {{ loop.index }},
        get expanded() {
          return this.active === this.id
        },
        set expanded(value) {
          this.active = value ? this.id : null
        },
      }"
    >
      <h2 class="text-3xl text-purple-500">
        <button class="p-2" @click="expanded = !expanded" :aria-expanded="expanded">
          {{ item.title }}
          <span x-show="expanded" aria-hidden="true">&minus;</span>
          <span x-show="!expanded" aria-hidden="true">&plus;</span>
        </button>
      </h2>
      <div x-show="expanded" x-collapse>
        <ul class="pl-4 text-xl">
          {% for child in item.children %}
            <li>
              <a class="border-shade-10 block py-2"
                href="{{ child.link }}">
                {{ child.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% else %}
    <div>
      <h2 class="text-3xl text-purple-500">
          <a class="block p-2" href="{{item.link}}">{{ item.title }}</a>
      </h2>
    </div>
    {% endif %}
    {% endfor %}
    <div class="flex gap-2 mt-12 text-6xl">{% include "partials/social.twig" %}</div>
  </nav>
</div>


{% endblock %}