<header class="md:p-4 p-2">
	<div class="gap-x-4 flex items-center mx-auto">
		<h1>
			<a href="{{ site.url }}" title="{{ site.name }}" alt="{{ site.name }} logo">
				<img class="w-54 h-auto" src="{{ theme.link ~ '/static/logo-flush-left.svg' }}" />
			</a>
		</h1>

		<!-- Desktop Nav -->
		<nav
			class="md:block hidden"
		>
			<ul class="flex">
				{% for item in menu.primary.items %}
					{% if item.children %}
						<li 
							x-data="{open: false}"
							@scroll.window="open = false" 
							class="relative overflow-visible {{item.classes | join(' ')}}"
						>
							<button class="hover:bg-gray-100 flex items-center p-2 text-purple-500" :class="open ? 'bg-gray-100' : ''" @click="open = !open">
								{{item.title}}
								+
							</button>
							<div class="top-full absolute z-10 bg-gray-100 shadow" x-show="open" x-cloak x-collapse @click.outside="open = false">
								<ul class="text-xs min-w-[120px]">
									{% for child in item.children %}
										<li class="whitespace-nowrap">
											<a class="hover:bg-gray-200 block p-2" href="{{child.link}}">
												{{child.title}}
											</a>
										</li>
									{% endfor %}
								</ul>
							</div>
					</li>
					{% else %}
					<li class="{{item.classes | join(' ')}}">
						<a class="hover:bg-gray-100 block p-2 text-purple-500" href="{{item.link}}">
						{{item.title}}
						</a>
					</li>
					{% endif %}
				{% endfor %}
			</ul>
		</nav>

		<div class="gap-x-2 md:flex hidden ml-auto text-4xl">
		<!-- Social Nav -->
			{% include "partials/social.twig" %}
		</div>

		<div class="gap-x-2 md:flex hidden">
		<!-- Contact Button -->
			<div class="" x-data="{ open: false }">

				<span @click="open = true">
					<button class="font-display hover:bg-purple-700 px-4 py-3 text-xs leading-none text-white uppercase bg-purple-500 rounded-sm">
						Contact
					</button>
				</span>

				<!-- Mobile Overlay Menu -->
				{% include "partials/contact-form.twig" %}

			</div>
		</div>

		<!-- Mobile Nav -->
		<div class="md:hidden mx-1 ml-4" x-data="{ open: false }">
		
			<!-- Mobile Menu Toggle -->
			<span @click="open = true">
				<button>
					<svg xmlns="http://www.w3.org/2000/svg" class="fill-black w-12 h-12" fill="none" viewBox="0 0 24 24" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
					</svg>
				</button>
			</span>

			<!-- Mobile Overlay Menu -->
			{% include "partials/nav-mobile.twig" %}
			
		</div>
	</div>

</header>
